/* ----------- NAVBAR ----------- */
.navbarBg{
    background-color: #fff382;
}


/* ----------- ICONES ----------- */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    padding-right: 7px;
}
.iconeCar {
    background-image: url('cart3.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
    /* espaço para o ícone */
}
.iconeUser {
    background-image: url('person-circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
    /* espaço para o ícone */
}


/* ----------- BARRA DE PESQUISA ----------- */
.input-group {
    background-color: #fff;
    border-radius: 20px;
}

.input-group input {
    background: transparent;
    border: none;
}

#barraPesquisa .form-control:focus {
    box-shadow: none;
    border-color: transparent;
}




.hamburger-menu {
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.hamburger-menu:hover {
    color: transparent;
    border: none;
}


/*HEADER*/


.carrossel {
    width: 100vw;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
}


.card-background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}   

.card {
    height: 100%;
}

.card img {
    height: 150px;
}

#footer {
    background: #f9f8f8;
    color: #0272F5;
    padding-top: 15px;

}

.footer_coisa {
    margin-bottom: 30px;
}

.linha {
    border-top: 2px solid #0272F5;
    padding-block: 20px;
}

/*-------------------------------------*/
/*-------------------------------------*/
